.searchDisplay {
	margin-bottom: 1.5em;

	p {
		font-size: 1.5rem;
		line-height: 1.3em;
		margin-bottom: 0;

		.searchAddress {
			display: block;
			color: $blue;
		}

		strong {
			margin-right: .2em;
		}

	}

}

@include respond-to("small") {

	.searchDisplay p .searchAddress {
		display: inline;
	}

}
