.eventDetails {

	.eventInfo {
		margin-bottom: 1.5em;

		h1 {
			clear: both;
			margin-bottom: .1em;
		}

		.eventDate {
			font-size: 1.8rem;
			margin-bottom: 0;
		}

		.eventLink {
			margin: .8em 0 0 0;
		}

	}

	.eventUser {
		font-size: 1.4rem;
		color: $pink;
		margin: 1.5em 0 0 0;
	}


	.eventVenueInfo {
		margin-bottom: 1.5em;

		address {
			line-height: 1.2em;
		}

		.venueDescription, .venueLink {
			margin: .15em 0 0;
		}

	}

	.featureIcons {

		margin-top: 1.5em;

		.featureIconGroup {
			display: block;
			margin-bottom: 10px;

			.label {
				display: block;
				color: $blue;
				font-weight: bold;
				text-decoration: underline;
				margin-bottom: .15em;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		.featureIcon {
			display: inline;
			margin-right: 10px;

			div {
				display: inline;
			}

			svg {
				height: 60px;
			}

		}

	}

}

.eventDays {

	dl {
		margin-bottom: .5em;

		dt {
			display: block;
			margin-bottom: .15em;

			strong {
				display: inline-block;
				width: 3.5em;
			}
		}

		dd {
			display: block;
			margin: 0 0 .4em 3.5em;
		}

	}

}

@include respond-to("small") {

	.eventDetails {
		display: flex;
		justify-content: space-between;
		padding-right: 20px;

		.data {
			width: 60%
		}

		.featureIcons {
			text-align: center;
			margin-top: 2.2em;

			.featureIcon {
				margin: 0 5px;

				svg {
					height: 90px;
				}

			}

		}

	}

}
