@import "../../node_modules/css-reset-and-normalize-sass/scss/reset-and-normalize";
@import "breakpoints";
@import "colors";
@import "fonts";
@import "text";

@import "boxList";
@import "calendar";
@import "form";
@import "loader";
@import "modal";

@import "account";
@import "header";
@import "login";

@import "dashboard";
@import "editForms";
@import "eventDetails";
@import "events";
@import "search";
@import "faq";
@import "contact";

html {
	height: 100%;
	background: $white;

	body {
		min-height: calc(100% - 40px);
		padding: 20px;
		background: $white;

		#content {
			position: relative;
			padding: 65px 0;
		}
	}

	&.noscroll {
		overflow: hidden;
	}
}

@include respond-to("xsmall") {

}

@include respond-to("small") {
	html {
		padding: 0 50px;
		background: $blue;

		body {
			min-height: calc(100% - 110px);
			padding: 40px 20px 20px;
			border-bottom: 50px solid $blue;

			#content {
				padding: 75px 0 0;
			}
		}

		&.noscroll {
			width: calc(100% - 100px);
			overflow: hidden;
		}

	}

}
