.searchForm {

	.searchDatesLocations {
		min-width: 240px;
		margin-bottom: 3em;

		.locationTabs {

			span {
				margin-left: 1em;
				cursor: pointer;

				&.activeTab {
					color: $pink;
					font-weight: bold;
					cursor: default;
				}
			}

		}

		.distanceUnits {

			span {
				cursor: pointer;

				&.activeTab {
					color: $pink;
					font-weight: bold;
					cursor: default;
				}
			}

		}

		.searchDates {
			min-width: 240px;
			margin-bottom: 2em;

			.dateRange {
				margin-bottom: 1em;

				strong {
					margin-right: .3em;
				}

			}

			button {
				margin: .5em 0 0 5.7em;
			}

		}

		.locationButton {
			margin: .2em 0 .8em;

			button:disabled {
				opacity: 0;
			}
		}

		.searchLocations {
			min-width: 240px;
			max-width: 400px;

			.selectedLocationsContainer {
				margin-top: 1em;
				padding-bottom: 10px;
				border: 1px solid $pink;

				.selectedLocationsHeader {
					font-size: 1.4rem;
					color: $white;
					font-weight: bold;
					margin-bottom: 10px;
					padding: 3px 10px;
					background: $pink;
				}

				ul.selectedLocations {
					margin: 0 10px;

					li {
						margin-bottom: .6em;

						&:last-child {
							margin-bottom: 0;
						}

						ul {
							margin: .2em 0 0 1em;

							li {
								margin-bottom: .2em;
							}
						}

					}

					.removeGeoButton {
						display: inline;
						margin-left: .75em;

						div {
							display: inline;
						}

						svg {
							fill: $blue;
							height: 1.2em;
							margin-bottom: .2em;
							vertical-align: middle;

							&:hover {
								fill: $pink;
							}
						}
					}
				}
			}


		}

	}

	.featureIcons {
		margin-bottom: 2em;

		.featureIconGroup {
			display: block;
			margin-bottom: 1em;

			.label {
				display: block;
				font-weight: bold;
				margin-bottom: .5em;
			}

		}

		.featureIcon, .featureIcon div {
			display: inline;
		}

		svg {
			opacity: .4;
			height: 60px;
			margin-right: 10px;
			cursor: pointer;
		}

		.featureIcon.selected svg {
			opacity: 1;
		}

	}

}


@include respond-to("xsmall") {

	.featureIcons {
		svg {
			height: 75px;
			margin: 0 5px;
		}
	}

}

@include respond-to("small") {

	.featureIcons {
		svg {
			height: 90px;
		}
	}

}

@include respond-to("medium") {

	.searchForm {
		display: flex;
		padding-right: 20px;

		.searchDatesLocations {
			width: calc(40%);
			margin-right: 40px;
		}

	}

	.featureIcons {
		margin-top: .3em;
		width: calc(50%);
	}

}
