html {
	font-size: .625em;
}

body {
	font-size: 1.6rem;
	color: $black;
	font-family: $source-sans;

}

a, a:visited {
	color: $blue;
}

a:hover {
	color: $pink;
}

.flag-icon {
	margin-left: .5em;
}

h1 {
	font-family: $stratum-black;
	font-size: 3.8rem;
	font-style: italic;
	font-weight: bold;
	color: $pink;
	margin: 0 0 .3em -.05em;
}

p + h1 {
	margin-top: 1.5em;
}

h2 {
	font-family: $stratum-black;
	font-size: 2.8rem;
	font-weight: bold;
	color: $blue;
	margin-bottom: .5em;
}

h3 {
	font-size: 1.6rem;
	margin: .1em 0 .5em;
	font-weight: bold;
	color: $blue;
}

h4 {
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: .3em;
}


p {
	line-height: 1.5em;
	margin-bottom: 1.2em;

	&.info {
		font-size: .9em;
		color: $blue;
	}

}

.callout {
	margin-bottom: 1.2em;
	padding: 0 0 .2em 0;
	border: 2px solid $pink;

	p {
		padding-left: 6px;
		padding-right: 6px;

		&.header {
			color: $white;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0 0 .2em;
			padding: 0 6px 2px;
			background: $pink;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

}


p.backToLink {
	font-size: 1.6rem;
	font-weight: bold;
	margin: 5px 0 1em 0;

	a {
		text-decoration: none
	}
}

.error {
	text-align: right;
	color: $pink;
}

.listCount {
	font-size: 1.8rem;
	font-weight: bold;
	color: $blue;
	margin-top: -1.2rem;

	h1 + & {
		margin-top: 0;
	}
}


@include respond-to("small") {

}
