.dashboard {

	ul.dashboardMenu {
		font-size: 3rem;

		li {
			margin-bottom: .5em;
		}

	}

	.submittedTime {
		font-size: 1.6rem;
		color: $pink;
		margin: 0;
	}

}


@include respond-to("small") {

	.dashboard {

	}

}
