form h2 {
	margin-bottom: .5em;

	.modalOverlay & {
		margin-bottom: 1.2em;
	}
}

.inputGroup {
	margin-bottom: 1.5em;
}

label {
	display: block;
	font-size: .95em;
	color: $blue;
	margin-bottom: .4em;
}

input {
	display: block;
	width: calc(100% - 12px);
	margin-bottom: .8em;
	border: 1px solid $blue;
	padding: 5px;
}

.buttonRow {
	margin: 1.5em 0 1em;

	button {
		margin: 0 .5em;
	}

	button:first-child {
		margin-left: 0;
	}

	button:last-child {
		margin-right: 0;
	}

	form & {
		text-align: right;
	}
}

.smallButton {
	font-size: 1.2rem;
	line-height: 1.3rem;
	color: $white;
	margin: 0 0 0 1em;
	padding-bottom: 2px;
	background: $blue;
	border: none;
	outline: none;

	&:hover {
		background: $pink;
	}

	&:disabled {
		background: $gray;
	}
}

.largeButton {
	font-size: 2rem;
	line-height: 2.4rem;
	vertical-align: top;
	color: $white;
	font-family: $stratum-black;
	font-weight: bold;
	margin: 0;
	padding: 4px 15px;
	background: $blue;
	border: none;
	outline: none;

	&:hover {
		background: $pink;
	}

	&:disabled {
		background: $gray;
	}

}

.pinkButton {
	background: $pink;
}

.formError {
	margin-top: .8em;
	color: $pink;
}

form.disabled {
	opacity: .3;
}

.formFooter {

	&.right {
		text-align: right;
	}

}




.Select {
	border: 1px solid $blue;
	border-radius: 0;

	&.is-disabled {
		border-color: $gray;
	}

	.Select__control, input {
		border: none;
		border-radius: 0;
		outline: none;
	}

	.Select.is-focused:not(.is-open) > .Select-control .Select__dropdown-indicator,
	&.is-open .Select__dropdown-indicator {
		border-color: $blue transparent transparent;
	}

	.Select__clear-indicator {
		color: $pink;
		font-weight: bold;
	}

	.Select__menu-outer {
		border-color: $gray;
		border-top-color: $blue;
	}

	.Select__option {
		color: $black;
		background-color: $white;

		&:hover {
			background-color: $lightBlue;
		}

		&:last-child {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	.Select__option--is-disabled,
	.Select__option--is-disabled:hover {
		color: $gray;
		font-style: italic;
		background-color: $white;
	}

	.Select__input input {
		margin-bottom: 0;
	}

}

