.smallButton {
	font-size: 1.2rem;
	line-height: 1.3rem;
	color: $white;
	margin: 0 0 0 1em;
	padding-bottom: 2px;
	background: $blue;
	border: none;
	outline: none;

	&:hover,&:focus,&:active {
		background: $pink;
	}

	&:disabled {
		background: $gray;
	}
}

.largeButton {
	font-size: 2rem;
	line-height: 2.4rem;
	vertical-align: top;
	color: $white;
	font-family: $stratum-black;
	font-weight: bold;
	margin: 0;
	padding: 4px 15px;
	background: $blue;
	border: none;
	outline: none;

	&:hover,&:focus,&:active {
		background: $pink;
	}

	&:disabled {
		background: $gray;
	}

	&.pinkButton {
		background: $pink;
	}

}

input {
	display: block;
	border: 1px solid $blue;
	padding: 2px;
}

.Select {
	border: 1px solid $blue;
	border-radius: 0;

	&.is-disabled {
		border-color: $gray;
	}

	.Select__control, input {
		border: none;
		border-radius: 0;
		outline: none;
	}	
.Select.is-focused:not(.is-open) > .Select-control
	.Select__dropdown-indicator,
	&.is-open .Select__dropdown-indicator {
		border-color: $blue transparent transparent;
	}

	.Select__clear-indicator {
		color: $pink;
		font-weight: bold;
	}

	.Select__menu-outer {
		border-color: $gray;
		border-top-color: $blue;
	}

	.Select__option {
		color: $black;
		background-color: $white;

		&:hover, &:active, &:focus {
			background-color: $lightBlue;
		}

		&:last-child {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0; 
		}
	}

	.Select__option--is-disabled,
	.Select__option--is-disabled:hover, 
	.Select__option--is-disabled:active,
	.Select__option--is-disabled:focus {
		color: $gray;
		font-style: italic;
		background-color: $white;
	}

}
