$headerHeightDesktop: 80px;
$headerHeightMobile: 65px;
$menuDrawerHeight: 450px;

#siteHeader {
	display: flex;
    justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	height: $headerHeightMobile;
	color: $black;
	background: $white;

	#siteLogo {
		margin: 10px 5px 10px 10px;

		svg {
			height: 45px;
		}
	}

	.siteMenu {
		display: none;
	}

	#loginMenuIconMobile {

		margin: 13px 10px 0 0;

		a {
			padding: 4px 5px;
			text-decoration: none;

			div {

				display: inline;

			}

			svg {
				vertical-align: middle;
				height: 40px;
			}
		}

	}

}

#siteMenuDrawer {
	position: fixed;
	bottom: -$headerHeightMobile;
	left: 0;
	z-index: 450;
	width: 100%;
	height: 450px;
	background: $white;
	border-bottom: 20px solid $pink;

	.openDrawerIcon {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: -10px;
		z-index: 475;

		svg {
			display: block;
			width: 30px;
			height: 20px;
			margin: 0 auto;

		}

		&:hover {
			cursor: pointer;
		}
	}

	&.drawerOpen {
		top: $headerHeightMobile;
		transition: all .5s ease-out;
	}

	&.drawerClosed {
		top: calc(-#{$menuDrawerHeight} + #{$headerHeightMobile});
		transition: all .4s ease-in;
	}

	.siteMenu {
		padding: 20px 0 20px;
		margin: 10px;

		ul {

			li {
				font-size: 2.8rem;
				font-weight: bold;
				text-align: center;
				vertical-align: middle;
				margin: 0 0 1em 0;

				&.desktopOnly {
					display: none;
				}

				a {
					text-decoration: none;
				}

			}
		}
	}

}

@include respond-to("xsmall") {

	/* inherit from mobile */

}

@include respond-to("small") {

	#siteMenuDrawer {
		display: none;
	}

	#siteHeader {
		left: 50px;
		width: calc(100% - 100px);
		height: $headerHeightDesktop;
		border-bottom: 20px solid $pink;

		#siteLogo svg {
			height: 60px;
		}

		.siteMenu {
			display: block;
			margin: 0 10px 0 0;

			li {
				font-size: 1.8rem;
				font-weight: bold;
				line-height: $headerHeightDesktop;
				vertical-align: middle;
				display: inline;
				margin: 0 10px;

				&.desktopOnly {
					display: inline;
				}

				a {
					padding: 4px 5px;
					text-decoration: none;

					div {

						display: inline;

					}

					svg {
						vertical-align: middle;
						height: 40px;
					}


					&:hover {
						svg {
							fill: $pink;
						}
					}

				}

				a.active {
					border-bottom: 4px solid $pink;
				}

				a.activeIcon svg {
					fill: $pink;
				}


			}
		}

	}

	#loginMenuIconMobile {
		display: none;
	}

}
