#siteHeader {
	display: flex;
    justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	height: 65px;
	color: $black;
	background: $white;

	#siteLogo {
		margin: 10px 5px 10px 10px;

		img {
			height: 45px;
		}
	}

	.siteMenu {
		display: none;
	}

	#loginBox {


	}

}

#siteMenuDrawer {
	position: fixed;
	bottom: -65px;
	left: 0;
	z-index: 450;
	width: 100%;
	height: 90%;
	background: $white;
	border-bottom: 20px solid $pink;

	.openDrawerIcon {
		position: absolute;
		left: calc((100% - 15px) / 2);
		bottom: -20px;
		z-index: 475;

		img {
			width: 30px;
			height: 20px;
			display: block;
		}

	}

	&.drawerOpen {
		bottom: 10%;
		transition: all .5s ease-out; 

	}

	&.drawerClosed {
		bottom: calc(100% - 85px);
		transition: all .4s ease-in; 

	}

	.siteMenu {
		padding: 105px 0 20px;
		margin: 10px;

		ul {
			display: flex;
			flex-flow: row wrap;

			li {
				display: inline;
				flex-grow: 1;
				width: calc(50% - 20px);
				text-align: center;
				margin: 10px 10px;

				img {
					margin-top: 15px;
					height: 60px;
					vertical-align: middle;
				}
			}
		}
	}

}

@include respond-to("xsmall") {

	#siteMenuDrawer {
		display: none;
	}

	#siteHeader {
		border-bottom: 20px solid $pink;

		#loginBox {
			position: absolute;
			right: 0;
			top: calc(100% + 10px);
			z-index: 22222;
			width: 260px;
			height: auto;
			padding: 20px;
			background: white;
			border: 10px solid $pink;

			.loginClose {
				position: absolute;
				top: 20px;
				right: 20px;
				color: $white;
				font-weight: bold;
				line-height: 1.2em;
				padding: 2px 5px;
				background: $blue;

				&:hover,
				&:active,
				&:focus {
					cursor: pointer;
					background: $pink;
				}
			}

			#loginForm, 
			#registerForm {

				h2 {
					margin-bottom: .5em;
				}

				label {
					display: block;
					font-size: .9em;
					margin-bottom: .2em;
				}

				input {
					display: block;
					margin-bottom: .8em;
				}

				.buttons {
					margin-top: 1.5em;

					button:first-child {
						margin-right: 10px;
					}
				}

				.errorMessage {
					margin-top: .8em;
					color: $pink;
				}

				&.open {
					display: block;
				}

				&.disabled {
					opacity: .3;
				}

			}

			.loader {
				position: absolute;
				top: calc(50% - 60px);
				left: calc(50% - 40px);
			}

			&.open {
				display: block;
			}

		}

		.siteMenu {
			display: block;
			margin: 20px 10px 0 0;

			li {
				display: inline;
				margin: 0;

				img {
					margin-top: 0;
					height: 40px;
					vertical-align: middle;
				}
			}
		}

	}

}

@include respond-to("small") {

	#siteHeader {
		left: 50px;
		width: calc(100% - 100px);
		height: 80px;
		border-bottom-width: 20px;

		#siteLogo {

			img {
				height: 60px;
			}

		}

		.siteMenu {

			li {
				margin: 0 3px;

				img {
					margin-top: 0;
					height: 50px;
				}

			}

		}
		
	}

}

@include respond-to("medium") {

	#siteHeader {
		left: 50px;
		width: calc(100% - 100px);
		height: 90px;
		border-bottom-width: 20px;

		#siteLogo {

			img {
				height: 70px;
			}

		}

		.siteMenu {

			li {
				margin: 0 5px;

				img {
					margin-top: 0;
					height: 60px;
				}

			}

		}
		
	}

}