.loader {
	width: 90px;
	height: 90px;
	margin: 30px auto;
	border: 16px solid $pink;
	border-top: 16px solid $blue; 
	border-radius: 50%;
	animation: spin 2s linear infinite;

	&.medium {
		width: 60px;
		height: 60px;
		margin: 20px auto;
		border: 11px solid $pink;
		border-top: 11px solid $blue; 
	}

	&.small {
		width: 20px;
		height: 20px;
		margin: 10px auto;
		border: 5px solid $pink;
		border-top: 5px solid $blue; 
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}