@import "../../node_modules/css-reset-and-normalize-sass/scss/reset-and-normalize";
@import "breakpoints";

@import "colors";
@import "modal";
@import "fonts";
@import "form";
@import "loader";
@import "text";

@import "header";
@import "login";

@import "eventDetails";
@import "events";
@import "search";

html {
	height: 100%;
	background: $white;

	body {
		min-height: calc(100% - 40px);
		padding: 20px;
		background: $white;

		#content {
			padding-top: 85px;
		}
	}

}

@include respond-to("xsmall") {

}

@include respond-to("small") {
	html {
		padding: 0 50px;
		background: $blue;

		body {
			min-height: calc(100% - 110px);
			padding: 40px 20px 20px;
			border-bottom: 50px solid $blue;

			#content {
				padding-top: 90px;
			}
		}

		&.noscroll {
			width: calc(100% - 100px);
			height: calc(100%);
			overflow: hidden;
		}

	}

}
