.searchForm {

	.searchDatesLocations {
		min-width: 320px;

		.searchDates {
			min-width: 320px;
			margin-bottom: 2em;

			.dateRange {
				margin-bottom: 1em;

				strong {
					margin-right: .3em;
				}

			}

		}

		.searchLocations {
			min-width: 320px;
			max-width: 400px;
			margin-bottom: 2em;

			.selectedLocationsHeader {
				font-size: 1.4rem;
				margin: 1.5em 0 .5em;
			}

			.selectChoiceText {
				font-size: 1.4rem;
				margin-bottom: .3em;
			}

			.locationButton {
				margin: .2em 0 .8em;

				button:disabled {
					opacity: 0;
				}
			}

			ul.selectedLocations {

				li {
					margin-bottom: .6em;

					ul {
						margin: .2em 0 0 1em;

						li {
							margin-bottom: .2em;
						}
					}

				}
			}
		}

	}

}

.derbyFeatures {
	margin-bottom: 2em;

	.eventIconGroup {
		display: block;
		margin-bottom: 1em;

		.label {
			display: block;
			color: $blue;
			font-weight: bold;
			margin-bottom: .5em;
		}

	}

	.featureIcon, .featureIcon div {
		display: inline;
	}

	svg {
		opacity: .4;
		height: 60px;
		margin-right: 10px;
		cursor: pointer;
	}

	.featureIcon.selected svg {
		opacity: 1;
	}

}


.searchButtons {

}


@include respond-to("xsmall") {

	.derbyFeatures {
		svg {
			height: 75px;
			margin: 0 5px;
		}
	}

}

@include respond-to("small") {

	.derbyFeatures {
		svg {
			height: 90px;
		}
	}

}

@include respond-to("medium") {

	.searchForm {
		display: flex;
		padding-right: 20px;

		.searchDatesLocations {
			width: calc(40%);
			margin-right: 40px;
		}

	}

	.derbyFeatures {
		margin-top: .3em;
		width: calc(50%);
	}

}
